<!DOCTYPE html>
<html>
<head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">PranveraApp</title>
    <th:block th:replace="/layout/partials/head"></th:block>
</head>
<body>
   <div class="boss-loader-overlay"></div>
   <!-- End .boss-loader-overlay -->
      <div id="wrapper">
	<aside class="side-menu navbar-inverse left">
	   <div class="side-menu-wrapper">
	   <div class="header-search-form">
	      <a class="pull-left" >
	      <img src="../../resources/images/singlepapp.png" th:src="@{/resources/images/singlepapp.png}"/></a>
	      <span class="header-logo">PranveraApp</span>
	   </div>
	    <nav th:substituteby="layout/partials/nav" />
	   </div>
	</aside>
    <!-- end .side-menu -->
    	<div id="main-content">
    	    <header th:substituteby="layout/partials/header"></header>
		<!-- End #header -->
		<div id="content" role="main">
		    <div id="revslider-container">
		        <div id="revslider">
			    <ul>
				<li data-transition="fade" data-slotamount="8"
				data-masterspeed="800" data-title=""
				data-thumb="/papp/resources/images/homesliders/index7/slide1.jpg">
			           <img src="../../resources/images/revslider/dummy.png"
				   th:src="@{/resources/images/revslider/dummy.png}" alt="slidebg1"
				   data-lazyload="/papp/resources/images/homesliders/index7/slide1.jpg"
				   data-bgposition="center center" data-bgfit="cover"
				   data-bgrepeat="no-repeat" />

				   <div class="tp-caption rev-subtitle lfb ltt" data-x="0"
				   data-y="160" data-speed="1000" data-start="900"
				   data-easing="Power3.easeInOut" data-endspeed="400"
				   style="z-index: 10" th:utext="#{home.rev.subtitle.first}"></div>

				   <div class="tp-caption rev-title lfb ltt" data-x="0"
				   data-y="210" data-speed="1000" data-start="1000"
				   data-easing="Power3.easeInOut" data-endspeed="600"
				   style="z-index: 6" th:utext="#{home.rev.title.first}"></div>
				   
				    <div class="tp-caption rev-title lfb ltt" data-x="0"
				   data-y="285" data-speed="1000" data-start="1000"
				   data-easing="Power3.easeInOut" data-endspeed="600"
				   style="z-index: 6" th:utext="#{home.rev.title.first.secondpart}"></div>

     		                   <div class="tp-caption rev-text lfb ltt" data-x="0" data-y="345"
				   data-speed="1000" data-start="1200"
				   data-easing="Power3.easeInOut" data-endspeed="700"
		                   style="z-index: 14" th:utext="#{home.rev.text.first}"></div>

				   <div class="tp-caption rev-btn lfb ltt" data-x="0" data-y="425"
				   data-speed="1000" data-start="1400"
				   data-easing="Power3.easeInOut" data-endspeed="800"
				   style="z-index: 14">
									
				     <a th:href="@{/work/}" class="btn btn-white btn-border no-radius  min-width">
				     <strong th:utext="#{home.work.button}"></strong></a> 
				     <a th:href="@{/contact/}" class="btn btn-white no-radius min-width">
				     <strong th:utext="#{home.contact.button}"></strong></a>
				   </div>
				</li>
				
				<li data-transition="fade" data-slotamount="8"
				data-masterspeed="800" data-title=""
				data-thumb="/papp/resources/images/homesliders/index7/slide2.jpg">
				<!-- background image --> <img
				src="../../resources/images/revslider/dummy.png"
				th:src="@{/resources/images/revslider/dummy.png}" alt="slidebg1"
				data-lazyload="/papp/resources/images/homesliders/index7/slide2.jpg"
				data-bgposition="center center" data-bgfit="cover"
				data-bgrepeat="no-repeat" />

				<div class="tp-caption rev-subtitle lfl ltl" data-x="0"
				data-y="160" data-speed="1000" data-start="900"
				data-easing="Power3.easeInOut" data-endspeed="400"
				style="z-index: 10" th:utext="#{home.rev.subtitle.second}"></div>

				<div class="tp-caption rev-title lfr ltr" data-x="0"
				data-y="210" data-speed="1000" data-start="1000"
				data-easing="Power3.easeInOut" data-endspeed="600"
				style="z-index: 6" th:utext="#{home.rev.title.second}"></div>

				<div class="tp-caption rev-text lfb ltt" data-x="0" data-y="285"
				data-speed="1000" data-start="1200"
				data-easing="Power3.easeInOut" data-endspeed="700"
				style="z-index: 14" th:utext="#{home.rev.text.second}"></div>

				<div class="tp-caption rev-btn lfb ltt" data-x="0" data-y="365"
				data-speed="1000" data-start="1400"
				data-easing="Power3.easeInOut" data-endspeed="800"
				style="z-index: 14">
				
				 <a th:href="@{/work/}" class="btn btn-white btn-border no-radius  min-width">
				 <strong th:utext="#{home.work.button}"></strong></a> 
				 <a th:href="@{/contact/}" class="btn btn-white no-radius min-width">
				 <strong th:utext="#{home.contact.button}"></strong></a>
			        </div>
				</li>
			   </ul>
			</div>
			<!-- End #revslider -->
					
			<a href="#service-group-id" class="scroll-btn light"
			data-offset="-56" data-0="opacity:1" data-top-bottom="opacity:0;"
			title="Go Down"><span></span></a>
		</div>
		<!-- End #revslider-container -->


		<div id="service-group-id" class="callout no-border larger no-margin">
		    <div class="container">
			<div class="callout-wrapper">
			     <div class="callout-left">
				<h2 class="callout-title" th:utext="#{home.creatology.text}"></h2>
			     </div>
			     <!-- End .callout-left -->
			     <div class="callout-right">
				<a th:href="@{/services/}" class="btn btn-dark no-radius min-width" th:utext="#{home.service.button}"></a>
			     </div>
			     <!-- End .callout-right -->
			</div>
			<!-- End .callout-wrapper -->
		    </div>
		    <!-- End .container -->
		</div>
		<!-- End .callout -->


				
		<div class="bg-lightergray no-overflow pt70">
                   <div class="container ">
                       <h2 class="title-underblock custom text-uppercase text-center mb50" th:text="#{home.work.button}"></h2>
                </div><!-- End .container -->
                </div><!-- End .bg-lightergray -->
		      <div class="noborder-nomargin-container">
			   <div class="row">
			   <div class="col-md-6 work-member" style="padding-left:0px; padding-right:0px;">
				   <div class="portfolio-item">
				       <figure>
					 <a th:href="@{/work/pvpro/}"
					 title="Portfolio Item Description"> <img
					 src="../../resources/images/portfolio/grid/pizza_primavera.jpg"
					 th:src="@{/resources/images/portfolio/grid/pizza_primavera.jpg}"
					 alt="portfolio item name" class="img-responsive" /></a>
					</figure>
				        <div class="work-meta"><h3 th:utext="#{home.pvpro.name}"></h3></div>
				   </div>
				   <!-- End .portfolio-item -->
			        </div>
			        <div class="col-md-6 work-member" style="padding-left:0px; padding-right:0px;">
				   <div class="portfolio-item">
				       <figure>
					 <a th:href="@{/work/admin/}"
					 title="Portfolio Item Description"> <img
					 src="../../resources/images/portfolio/grid/admin_office.jpg"
					 th:src="@{/resources/images/portfolio/grid/admin_office.jpg}"
					 alt="portfolio item name" class="img-responsive" /></a>
					</figure>
				        <div class="work-meta"><h3 th:utext="#{home.admin.name}"></h3></div>
				   </div>
				   <!-- End .portfolio-item -->
			        </div>
			       <div class="col-md-4 work-member">
				   <div class="portfolio-item">
					<figure>
					   <a th:href="@{/work/docup/}"
					   title="Portfolio Item Description"> <img
					   src="../../resources/images/portfolio/grid/doc_up.jpg"
					   th:src="@{/resources/images/portfolio/grid/doc_up.jpg}"
					   alt="portfolio item name" class="img-responsive" /></a>
					</figure>
				        <div class="work-meta"><h3 th:utext="#{home.docup.name}"></h3></div>
				   </div>
				   <!-- End .portfolio-item -->
				</div>
				<!-- End .col-md-4 -->
				<div class="col-md-4 work-member">
				     <div class="portfolio-item">
					<figure>
					  <a th:href="@{/work/efe/}"
					  title="Portfolio Item Description"> <img
					  src="../../resources/images/portfolio/grid/e_front.jpg"
					  th:src="@{/resources/images/portfolio/grid/e_front.jpg}"
					  alt="portfolio item name" class="img-responsive" /></a>
					</figure>
					<div class="work-meta"><h3 th:utext="#{home.efe.name}"></h3></div>
				     </div>
				     <!-- End .portfolio-item -->
				</div>
				<!-- End .col-md-4 -->
				<div class="col-md-4 work-member">
				   <div class="portfolio-item">
				       <figure>
					 <a th:href="@{/work/ebe/}"
					 title="Portfolio Item Description"> <img
					 src="../../resources/images/portfolio/grid/e_back.jpg"
					 th:src="@{/resources/images/portfolio/grid/e_back.jpg}"
					 alt="portfolio item name" class="img-responsive" /></a>
					</figure>
				        <div class="work-meta"><h3 th:utext="#{home.ebe.name}"></h3></div>
				   </div>
				   <!-- End .portfolio-item -->
			        </div>
				<!-- End .col-md-4 -->
			    </div>
			    <!-- End .row -->
		       </div>
		       <!-- End .noborder-nomargin-container  -->
		       <!-- space -->
			<!-- Video Background Section -->
			

		<!-- End .videobg-container -->
			<!-- space -->
		   </div>
		   <!-- End #content -->
		   <footer th:substituteby="/layout/partials/footer"></footer>
		   <!-- End #footer -->
		</div>
		<!-- End #main-content -->
		<div class="boss-menu-overlay"></div>
		<!-- End .boss-menu-overlay -->
	</div>
	<!-- End #wrapper -->
	<a href="#top" id="scroll-top" title="Back to Top"><i
		class="fa fa-angle-up"></i></a>
	<!-- END -->
	<script src="../../resources/js/smoothscroll.js" th:src="@{/resources/js/smoothscroll.js}"></script>
	<script src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script src="../../resources/js/jquery.hoverIntent.min.js" th:src="@{/resources/js/jquery.hoverIntent.min.js}"></script>
	<script src="../../resources/js/jquery.nicescroll.min.js" th:src="@{/resources/js/jquery.nicescroll.min.js}"></script>
	<script src="../../resources/js/waypoints.min.js" th:src="@{/resources/js/waypoints.min.js}"></script>
	<script src="../../resources/js/waypoints-sticky.min.js" th:src="@{/resources/js/waypoints-sticky.min.js}"></script>
	<script src="../../resources/js/jquery.debouncedresize.js" th:src="@{/resources/js/jquery.debouncedresize.js}"></script>
	<script src="../../resources/js/retina.min.js" th:src="@{/resources/js/retina.min.js}"></script>
	<script src="../../resources/js/owl.carousel.min.js" th:src="@{/resources/js/owl.carousel.min.js}"></script>
	<script src="../../resources/js/skrollr.min.js" th:src="@{/resources/js/skrollr.min.js}"></script>
	<script src="../../resources/js/jquery.countTo.js" th:src="@{/resources/js/jquery.countTo.js}"></script>
	<script src="../../resources/js/isotope.pkgd.min.js" th:src="@{/resources/js/isotope.pkgd.min.js}"></script>
	<script src="../../resources/js/jquery.magnific-popup.min.js" th:src="@{/resources/js/jquery.magnific-popup.min.js}"></script>
	<script src="../../resources/js/jquery.themepunch.tools.min.js" th:src="@{/resources/js/jquery.themepunch.tools.min.js}"></script>
	<script src="../../resources/js/jquery.themepunch.revolution.min.js" th:src="@{/resources/js/jquery.themepunch.revolution.min.js}"></script>
	<script src="../../resources/js/wow.min.js" th:src="@{/resources/js/wow.min.js}"></script>
	<script src="../../resources/js/jquery.validate.min.js" th:src="@{/resources/js/jquery.validate.min.js}"></script>
	<script src="../../resources/js/jquery.mb.YTPlayer.js" th:src="@{/resources/js/jquery.mb.YTPlayer.js}"></script>
	<script src="../../resources/js/custom-social431.js" th:src="@{/resources/js/custom-social431.js}"></script>
	<script src="../../resources/js/main.js" th:src="@{/resources/js/main.js}"></script>




	<script>
		(function() {
			"use strict";
			// Slider Revolution
			jQuery('#revslider').revolution({
				delay : 8000,
				startwidth : 1170,
				startheight : 500,
				fullWidth : "on",
				fullScreen : "on",
				hideTimerBar : "off",
				spinner : "spinner4",
				navigationStyle : "preview4",
				soloArrowLeftHOffset : 20,
				soloArrowRightHOffset : 20
			});
		}());
	</script>
	 <!-- elion my tracking google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-82082423-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
