<!DOCTYPE html>
<html>
<head>
 <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Pranvera - App</title>
 <th:block th:replace="/layout/partials/head"></th:block>
</head>
<body>
 <div id="wrapper">
  <aside class="side-menu navbar-inverse left">
   <div class="side-menu-wrapper">
	   <div class="header-search-form">
	      <a class="pull-left" >
	      <img src="../../resources/images/singlepapp.png" th:src="@{/resources/images/singlepapp.png}"/></a>
	      <span class="header-logo">PranveraApp</span>
	   </div>
    <nav th:substituteby="/layout/partials/nav"></nav>	
   </div>
  </aside><!-- end .side-menu -->
  <div id="main-content">
   <header th:substituteby="layout/partials/header"></header>
    <div class="content"> 
     <div id="videobg-container"
     class="player bg-image overlay-container"
     data-property="{videoURL:'https://www.youtube.com/watch?v=3PxRflxJQBc',containment:'#videobg-container',startAt:0,mute:true,autoPlay:true,loop:true,opacity:1}"
     data-bgattach="/resources/images/backgrounds/knowledgebg.jpg">
      <div class="overlay dark"></div><!-- End .overlaybg -->
       <div class="container">
        <div class="parallax-content text-center">
	 <h2 class="text-white text-center mb20" th:utext="#{service.video.title}">How we ,develop richer, more imerrsive connections.</h2>
	 <p class="text-white" th:utext="#{service.video.subtitle}">Advertising has changed. Technology has created an always-on world meaning consumers are now more switched-on than ever. Which is why it's so important that your brand is too. At Connect, we combine creativity with technology to develop richer, more immersive connections. We call it the power of creatology.</p>
        </div><!-- End .parallax-content -->
       </div><!-- End .container -->
      </div>
     <div class="container-fluid no-padding vertical-service-block">
      <div class="row">
       <div class="col-sm-6 col-sm-push-6 no-padding-left">
        <div class="vertical-service-image fullscreen parallax-fixed text-center" data-bgattach="/resources/images/backgrounds/vertical-servicebg.jpg">
         <div class="vcenter-container">
          <div class="vcenter">
           <h2 class="title-underblock white text-center text-white text-uppercase mb30" th:utext="#{service.creatology.title}">Creatology</h2>
            <p class="text-white" th:utext="#{service.creatology.subtitle}">Creatology is our unique approach of combining data, insight and creativity with technology in order to create immersive connections with the always-on consumer. Connections that are transmedia. That enable brands to tell stories and create richer experiences. And that help you build longer lasting and more profitable relationships with your customers.</p>
          </div><!-- End .vcenter -->
         </div><!-- End .vcenter-container -->
        </div><!-- End .full-height -->
       </div><!-- End .col-sm-6 -->
       <div class="col-sm-6 col-sm-pull-6">
        <div class="vertical-service-content text-right fullscreen">
         <div class="vcenter-container">
          <div class="vcenter">
           <div class="service vertical">
            <span class="service-icon"><i class="icon-umbrella"></i></span>
            <div class="service-content">
             <h3 class="service-title  text-right title-underblock custom  text-uppercase" th:utext="#{service.feature.title}">Hundreds of Features</h3>
              <p th:utext="#{service.feature.subtext}">We leverage with the best of breed open source Java technologies like the Spring Framework and Hibernate.</p>
            </div><!-- End .service-content -->
           </div><!-- End .service -->
           <div class="service vertical">
            <span class="service-icon"><i class="icon-energy"></i></span>
             <div class="service-content">
              <h3 class="service-title  text-right title-underblock custom  text-uppercase" th:utext="#{service.nowordpress.title}">Bootstrap Based</h3>
               <p th:utext="#{service.nowordpress.subtext}">We leverage with the best of breed open source Java technologies like the Spring Framework and Hibernate.</p>
             </div><!-- End .service-content -->
           </div><!-- End .service -->
          </div><!-- End .vcenter-->
         </div><!-- End .vcenter-container-->
        </div><!-- End .vertical-center-content -->
       </div><!-- end .col-sm-6 -->
      </div><!-- End .row -->
      <div class="row">
       <div class="col-sm-6 no-padding-right">
        <div class="vertical-service-image fullscreen parallax-fixed text-center" data-bgattach="/resources/images/backgrounds/vertical-servicebg2.jpg">
         <div class="vcenter-container">
          <div class="vcenter">
           <h2 class="title-underblock white text-center text-white text-uppercase mb30" th:utext="#{service.solution.title}">Defining the optimum client solution.</h2>
           <p class="text-white" th:utext="#{service.solution.subtext}">To help you solve today's systems and communications challenges our Business Analysts define what the business issue is that we’re trying to solve. Our Planners then outline what the consumer thinks, feels and wants, whilst our Technologists investigate how we can best use technology to engage them. Our Creative teams define the organising idea, stories and brand world, working with UX Designers to create the most effective user experience. Our Content Strategists define how we can bring the stories to life to lengthen engagement and grow conversion and our Data Strategists analyse the outcomes to maximize effectiveness, ensuring we reach the optimum client solution.</p>
          </div><!-- End .vcenter -->
         </div><!-- End .vcenter-container -->
        </div><!-- End .full-height -->
       </div><!-- End .col-sm-6 -->
      <div class="col-sm-6">
       <div class="vertical-service-content fullscreen">
        <div class="vcenter-container">
         <div class="vcenter">
          <div class="service vertical">
           <span class="service-icon"><i class="icon-anchor"></i></span>
            <div class="service-content">
             <h3 class="service-title  title-underblock custom  text-uppercase" th:utext="#{service.content.title}">From the thinking to the doing.</h3>
              <p th:utext="#{service.content.subtext}">Through data, insight, creativity and technology we provide services to optimise the customer journey from awareness to engagement.</p>
            </div><!-- End .service-content -->
           </div><!-- End .service -->
          </div><!-- End .vcenter-->
         </div><!-- End .vcenter-container-->
        </div><!-- End .vertical-center-content -->
       </div><!-- end .col-sm-6 -->
      </div><!-- End .row -->
     </div><!-- End .container-fluid -->
     <div class="container">
      <div class="mb40 mb20-xs"></div><!-- space -->
       <h2 class="title-underblock dark mb30" th:utext="#{service.tecnologie.title}">Proven Tehnology</h2>
        <div class="owl-carousel our-partners dark nav-border center-nav center-nav-animate">
         <a title="Java">
          <img src="../../resources/images/clients/java.png"  th:src="@{/resources/images/clients/java.png}" alt="Java"></img>
         </a>
         <a title="Hibernate">
          <img src="../../resources/images/clients/hibernate.png"  th:src="@{/resources/images/clients/hibernate.png}" alt="Hibernate"></img>
         </a>
         <a title="Spring">
          <img src="../../resources/images/clients/spring.png"  th:src="@{/resources/images/clients/spring.png}" alt="Spring"></img>
         </a>
         <a title="Apache Sorl">
          <img src="../../resources/images/clients/solr.png"  th:src="@{/resources/images/clients/solr.png}" alt="Apache Sorl"></img>
         </a>
         </div><!-- End .our-partners -->
       </div><!-- End .container -->
       <div class="mb40 mb20-xs"></div><!-- space -->
       <footer th:substituteby="/layout/partials/footer"></footer>
      </div><!-- End of content  -->
     </div><!-- End #main-content -->
     <div class="boss-menu-overlay"></div>
    </div><!-- End #wrapper -->
    <a href="#top" id="scroll-top" title="Back to Top"><i class="fa fa-angle-up"></i></a><!-- END -->
    <script src="../../resources/js/smoothscroll.js" th:src="@{/resources/js/smoothscroll.js}"></script>
    <script src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../resources/js/jquery.hoverIntent.min.js" th:src="@{/resources/js/jquery.hoverIntent.min.js}"></script>
    <script src="../../resources/js/jquery.nicescroll.min.js" th:src="@{/resources/js/jquery.nicescroll.min.js}"></script>
    <script src="../../resources/js/waypoints.min.js" th:src="@{/resources/js/waypoints.min.js}"></script>
    <script src="../../resources/js/waypoints-sticky.min.js" th:src="@{/resources/js/waypoints-sticky.min.js}"></script>
    <script src="../../resources/js/jquery.debouncedresize.js" th:src="@{/resources/js/jquery.debouncedresize.js}"></script>
    <script src="../../resources/js/retina.min.js" th:src="@{/resources/js/retina.min.js}"></script>
    <script src="../../resources/js/owl.carousel.min.js" th:src="@{/resources/js/owl.carousel.min.js}"></script>
    <script src="../../resources/js/skrollr.min.js" th:src="@{/resources/js/skrollr.min.js}"></script>
    <script src="../../resources/js/jquery.countTo.js" th:src="@{/resources/js/jquery.countTo.js}"></script>
    <script src="../../resources/js/isotope.pkgd.min.js" th:src="@{/resources/js/isotope.pkgd.min.js}"></script>
    <script src="../../resources/js/jquery.magnific-popup.min.js" th:src="@{/resources/js/jquery.magnific-popup.min.js}"></script>
    <script src="../../resources/js/jquery.themepunch.tools.min.js" th:src="@{/resources/js/jquery.themepunch.tools.min.js}"></script>
    <script src="../../resources/js/jquery.themepunch.revolution.min.js" th:src="@{/resources/js/jquery.themepunch.revolution.min.js}"></script>
    <script src="../../resources/js/wow.min.js" th:src="@{/resources/js/wow.min.js}"></script>
    <script src="../../resources/js/jquery.validate.min.js" th:src="@{/resources/js/jquery.validate.min.js}"></script>
    
    <script src="../../resources/js/jquery.mb.YTPlayer.js" th:src="@{/resources/js/jquery.mb.YTPlayer.js}"></script>
    <script src="../../resources/js/main.js" th:src="@{/resources/js/main.js}"></script>
     <!-- elion my tracking google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-82082423-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>