#news article {
  background-color: white;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  #news article {
    padding-bottom: 40px;
  }
}
#news article.news {
  background-color: #fff;
  border-bottom: 1px solid #cccccc;
}
#news article.news figure {
  width: 100%;
  float: left;
  margin-right: 40px;
  margin-bottom: 20px;
}
@media (min-width: 480px) {
  #news article.news figure {
    width: 50%;
  }
}
#news article.sticky {
  background-color: white;
}
#news article.sticky.template1 .abstract {
  width: 100%;
  height: auto;
  display: none;
}
#news article.sticky.template1 figure {
  margin-bottom: 30px;
}
#news article.sticky.template2 figure {
  width: 100%;
  height: auto;
  float: left;
  margin-right: 40px;
}
#news article.sticky.template2 figure .news-image {
  width: inherit;
  height: inherit;
}
#news article .sticky-row .focusTag {
  background-color: red;
  color: white;
  width: 90px;
  height: 30px;
  padding: 6px;
  font-weight: bold;
  position: absolute;
  right: auto;
  left: auto;
  top: -1px;
}
@media (min-width: 768px) {
  #news article .sticky-row .focusTag {
    left: auto;
    right: 25px;
  }
}
#news article .readmore-container {
  margin-top: 25px;
  margin-bottom: 25px;
}
#news article .readmore {
  color: #000;
  margin-top: 25px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  #news article .readmore {
    color: #666;
    margin: 0;
  }
}
#news article .post-meta {
  color: black;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 16px;
}
#news article .title {
  color: black;
  font-family: "compatilletter", "Times New Roman", Times, serif;
  font-size: 30px;
  line-height: 38px;
  /*margin-top: 30px;*/
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 30px;
}
#news article .abstract {
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  /*font-family: "proxima_nova", Helvetica, Arial, sans-serif;*/
}
#news article .news-image {
  height: 250px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  #news article .news-image {
    height: 390px;
  }
}
#news .news-list li .news-image {
  -ms-behavior: url(/bundles/ferrarigateway/js/backgroundsize.min.htc);
}
.social-sidebar .readAll {
  background: white;
  color: #666666;
  text-transform: uppercase;
  text-align: center;
  line-height: 60px;
  display: block;
}
.social-sidebar .readAll:hover {
  text-decoration: none;
}
.social-sidebar .nav-tabs {
  border: none;
}
.social-sidebar .nav-tabs > li {
  margin-bottom: 0;
}
.social-sidebar .nav-tabs > li > a {
  border-radius: 0;
  border: none;
  margin-left: 10px;
  margin-top: 10px;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  font-size: 10px;
  line-height: 30px;
  padding: 10px 7px;
}
@media (min-width: 768px) {
  .social-sidebar .nav-tabs > li > a {
    padding: 0px 15px;
    font-size: 12px;
    line-height: 50px;
  }
}
.social-sidebar .nav-tabs > li > a:hover {
  border: none;
  margin-top:10px;
}
.social-sidebar .nav-tabs > li.active > a,
.social-sidebar .nav-tabs > li.active > a:hover,
.social-sidebar .nav-tabs > li.active > a:focus {
  border: none;
}
.social-sidebar .tab-content .panel {
  border-radius: 0;
}
.social-sidebar .tab-content .panel a {
  color: #222;
}
.social-sidebar .tab-content .panel .panel-body {
  padding: 0 20px;
}
.social-sidebar .tab-content .panel .feed-list {
  margin: 0;
}
.social-sidebar .tab-content .panel .feed-list li {
  border-bottom: 1px solid #efefef;
  padding: 20px 0;
  color: black;
}
.social-sidebar .tab-content .panel .feed-list li a {
  text-decoration: none;
}
.social-sidebar .tab-content .panel .feed-list li .profile-picture {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
}
.social-sidebar .tab-content .panel .feed-list li .user {
  font-family: "compatilletter", "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: 700;
  display: block;
  color: #222;
}
.social-sidebar .tab-content .panel .feed-list li .screen-name {
  font-family: "proxima_nova", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: block;
  color: #333;
}
.social-sidebar .tab-content .panel .feed-list li p {
  margin: 10px 0 0 0;
  font-family: "proxima_nova", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #333;
}
.social-sidebar .tab-content .panel .feed-list li img {
  max-width: 100%;
}
.social-sidebar .tab-content .panel .feed-list li img.thumb {
  float: left;
  max-width: 120px;
  margin: 0 10px 0 0;
}
@media (min-width: 768px) {
  .social-sidebar .twitter,
  .social-sidebar .weibo {
    margin-left: 10px;
  }
  .social-sidebar .facebook,
  .social-sidebar .youku {
    margin-right: 10px;
  }
}
@media (min-width: 992px) {
  .social-sidebar .twitter,
  .social-sidebar .weibo,
  .social-sidebar .facebook,
  .social-sidebar .youku {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.social-sidebar .twitter .nav-tabs {
  background: #37abde url('/AziendaLine/resources/images/socialelement/social-tw.png') no-repeat 100% 50%;
}
.social-sidebar .twitter .nav-tabs > li > a {
  background: #1090c1;
}
.social-sidebar .twitter .nav-tabs > li > a:hover {
  color: white;
}
.social-sidebar .twitter .nav-tabs > li.active > a,
.social-sidebar .twitter .nav-tabs > li.active > a:hover,
.social-sidebar .twitter .nav-tabs > li.active > a:focus {
  background: white;
  color: #1090c1;
}
.social-sidebar .facebook .nav-tabs {
  background: #3b5998 url('/AziendaLine/resources/images/socialelement/social-fb.png') no-repeat 100% 50%;
}
.social-sidebar .facebook .nav-tabs > li > a {
  background: #374f88;
}
.social-sidebar .facebook .nav-tabs > li > a:hover {
  color: white;
}
.social-sidebar .facebook .nav-tabs > li.active > a,
.social-sidebar .facebook .nav-tabs > li.active > a:hover,
.social-sidebar .facebook .nav-tabs > li.active > a:focus {
  background: #ffffff;
  color: #3b5998;
}
.social-sidebar .weibo,
.social-sidebar .youku {
  margin-bottom: 20px;
  padding-bottom: 60px;
  text-align: center;
}
.social-sidebar .weibo .readAll,
.social-sidebar .youku .readAll {
  background: transparent;
  color: #666666;
  text-transform: uppercase;
  text-align: center;
  line-height: 60px;
  font-size: 12px;
  display: block;
  border-top: 1px solid grey;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.social-sidebar .weibo .readAll:hover,
.social-sidebar .youku .readAll:hover {
  text-decoration: none;
}
.social-sidebar .weibo .readAll {
  color: white;
  color: rgba(255, 255, 255, 0.7);
}
.social-sidebar .weibo {
  height: 340px;
  background-color: #c27b0f;
  background-color: #b06f0f;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b06f0f), color-stop(100% #c27b0f));
  background-image: -webkit-linear-gradient(top, #b06f0f 0%, #c27b0f 100%);
  background-image: -moz-linear-gradient(top, #b06f0f 0%, #c27b0f 100%);
  background-image: -ms-linear-gradient(top, #b06f0f 0%, #c27b0f 100%);
  background-image: -o-linear-gradient(top, #b06f0f 0%, #c27b0f 100%);
  background-image: linear-gradient(top, #b06f0f 0%, #c27b0f 100%);
}
.social-sidebar .weibo .title {
  font-family: "compatilletter", "Times New Roman", Times, serif;
  font-size: 16px;
  margin: 10px 0;
  text-transform: uppercase;
  color: white;
  padding: 0 20px;
}
.social-sidebar .weibo .link {
  font-family: "proxima_nova", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 14px;
  padding: 0 20px;
}
.social-sidebar .youku {
  height: 340px;
  background-color: white;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d4d4d4), color-stop(100% #ffffff));
  background-image: -webkit-linear-gradient(top, #d4d4d4 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #d4d4d4 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(top, #d4d4d4 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #d4d4d4 0%, #ffffff 100%);
  background-image: linear-gradient(top, #d4d4d4 0%, #ffffff 100%);
}
.social-sidebar .youku .title {
  font-family: "compatilletter", "Times New Roman", Times, serif;
  font-size: 16px;
  margin: 10px 0;
  text-transform: uppercase;
  color: black;
  padding: 0 20px;
}
.social-sidebar .youku .link {
  font-family: "proxima_nova", Helvetica, Arial, sans-serif;
  color: black;
  font-size: 14px;
  padding: 0 20px;
}
















/*PAGINATION AND BLOG*/

.pagination {
  margin: -1px 0 0 0;
}
.pagination div, .pagination a {
  display: inline-block;
  color: #888;
  text-decoration: none;
  vertical-align: middle;
  font-size: 16px;
}
.pagination div.next, .pagination div.previous, .pagination a.next, .pagination a.previous {
  padding: 10px;
  font-size: 14px;
  line-height: 14px;
}
.pagination div div, .pagination div a, .pagination a div, .pagination a a {
  padding: 10px;
  color: #888;
}
.pagination div div.active, .pagination div a.active, .pagination a div.active, .pagination a a.active {
  color: #34302d;
  border-top: 2px solid #34302d;
  padding-top: 8px;
}
.pagination div:hover, .pagination a:hover {
  color: #34302d;
}


@import "highlight.css";

.blog--container {
  padding: 0 0 40px 0;
}
.blog--container.blog-preview {
  margin: 0 0 40px 0;
  border-bottom: 1px solid #cccccc;
}
.blog--container.blog-preview .meta-data--container {
  margin-bottom: 0;
}
.blog--container.blog-preview .blog-preview--readmore {
  color: #5fa134;
  text-transform: uppercase;
}
.blog--container.blog-preview .blog-preview--readmore:hover {
  text-decoration: underline;
}
.blog--container.blog-preview .blog--post ul, .blog--container.blog-preview .blog--post ol, .blog--container.blog-preview .blog--post table, .blog--container.blog-preview .blog--post h3, .blog--container.blog-preview .blog--post h2 {
  display: none;
}
.blog--container.blog-preview .blog--post p {
  margin-bottom: 15px;
}
.blog--container.blog-preview:last-child {
  margin: 0;
}
.blog--container .blog--title {
  font-size: 24px;
  margin-bottom: 12px;
  line-height: 35px;
  font-family: "Montserrat", sans-serif;
  color: #34302d;
}
.blog--container .blog--title a {
  color: #34302d;
  font-weight: normal;
}
.blog--container .blog--title a:hover {
  text-decoration: none;
  color: #5fa134;
}
.blog--container .meta-data--container {
  margin-bottom: 30px;
}
.blog--container .meta-data--container .meta-data--item {
  display: inline-block;
  margin: 2px 30px 0 0;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}
.blog--container .meta-data--container .meta-data--item .meta-data--icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin: -2px 5px 0 0;
}

.blog--container .meta-data--container .meta-data--item a {
  color: #34302d;
}
.blog--container .meta-data--container .meta-data--item a:hover {
  text-decoration: none;
  color: #5fa134;
}
.blog--container .blog--post {
  margin: 20px 0 30px;
}
.blog--container .blog--post a {
  color: #5fa134;
}
.blog--container .blog--post a:hover {
  text-decoration: underline;
}
.blog--container .blog--post h2, .blog--container .blog--post h3, .blog--container .blog--post h4 {
  margin: 30px 0 15px -1em;
  padding-left: 1em;
  font-weight: 700;
}
.blog--container .blog--post h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 28px;
}
.blog--container .blog--post h3, .blog--container .blog--post h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 26px;
}
.blog--container .blog--post h2>a.anchor, .blog--container .blog--post h3>a.anchor,
.blog--container .blog--post h4>a.anchor {
  position: absolute;
  visibility: hidden;
  display: block;
  margin-left: -1em;
  vertical-align: text-top;
  color: #34302d;
}
.blog--container .blog--post h2>a.anchor:before, .blog--container .blog--post h3>a.anchor:before,
.blog--container .blog--post h4>a.anchor:before {
  content: "\00A7";
}
.blog--container .blog--post h2:hover>a.anchor, .blog--container .blog--post h3:hover>a.anchor,
.blog--container .blog--post h4:hover>a.anchor {
  visibility: visible;
  text-decoration: none;
}

.blog--container .blog--post p {
  margin-bottom: 20px;
}
.blog--container .blog--post ul, .blog--container .blog--post ol {
  margin: 15px 0 20px 25px;
}
.blog--container .blog--post ul li, .blog--container .blog--post ol li {
  padding-bottom: 20px;
  font-size: 15px;
  line-height: 18px;
}
.blog--container .blog--post img {
  display: block;
  margin: 20px 0;
}
.blog--container .blog--post pre {
  margin: 20px 0;
}
.blog--container .blog--post strong {
  font-family: "Montserrat", sans-serif;
}
.blog--container .blog--post blockquote {
  margin: 20px 0;
  padding: 0 0 0 10px;
  border-left: 5px solid #dddddd;
}
.blog--container .blog--post blockquote p {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 24px;
}
.blog--container .blog--post blockquote code {
  color: #305CB5;
  font-size: 14px;
  padding: 2px 6px;
}
.blog--container .blog--post .highlight {
  margin-bottom: 20px;
}
.blog--container .blog--post .highlight pre {
  border-radius: 0;
  word-break: normal;
  word-wrap: normal;
  white-space: pre;
  overflow-x: auto;
  width: 96.9%;
}
.blog--container .blog--post .highlight .copy-button {
  position: absolute;
  margin-left: 633px;
}
.blog--container .blog--post .callout {
  border-left: 4px solid #6db33f;
  background-color: #EBF1E7;
  padding: 25px 20px;
  font-family: "Montserrat", sans-serif;
  margin: 20px 30px;
}
.blog--container .blog--post .callout .callout-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}
.blog--container .blog--post .callout p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
/*
    Fix styling of tables in GitHub Markdown-generated
    HTML to match other spring.io tables
*/
.blog--container .blog--post table {
    width: 100%;
    margin: 30px 0;
}

.blog--container .blog--post td,
.blog--container .blog--post th {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
}

.blog--container .blog--post th {
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    font-family: "Montserrat", sans-serif;
}

.blog--container .blog--post td {
    border-top: 1px solid #ddd;
}

.blog--container .blog--post tr > td:first-child {
    border-left: 1px solid #ccc
}

.blog--container .blog--post tr > td:last-child {
    border-right: 1px solid #ccc
}

.blog--container .blog--post tr:last-child {
    border-bottom: 1px solid #ccc
}

.blog--container .blog--post tr:nth-child(odd) > td {
    background-color: #f9f9f9
}
/* end table fix */

.blog-comments--wrapper {
  border-top: 1px solid #cccccc;
  padding-top: 30px;
}
.blog-comments--wrapper .blog-comments--container {
  border: 1px solid #34302d;
}
.blog-comments--wrapper .blog-comments--container .blog-comments--header {
  background-color: #34302d;
  color: #f1f1f1;
  font-size: 14px;
  line-height: 14px;
  padding: 18px;
}
.blog-comments--wrapper .blog-comments--container .blog-comments--header a {
  color: #6db33f;
}
.blog-comments--wrapper .blog-comments--container .blog-comments--header .icon {
  margin-top: -11px;
}
.blog-comments--wrapper .blog-comments--container .blog-comments--body {
  padding: 18px;
}

.social-btn--container {
  margin: 40px 0;
  text-align: center;
}
.social-btn--container .social-btn {
  background-image: url("../img/iconsprite.png");
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 3.5%;
}
.social-btn--container .social-btn.twitter {
  background-position: 1000px 694px;
}
.social-btn--container .social-btn.twitter:hover {
  background-position: 917px 694px;
}
.social-btn--container .social-btn.googleplus {
  background-position: 1000px 617px;
}
.social-btn--container .social-btn.googleplus:hover {
  background-position: 917px 617px;
}
.social-btn--container .social-btn.linkedin {
  background-position: 1000px 540px;
}
.social-btn--container .social-btn.linkedin:hover {
  background-position: 917px 540px;
}
.social-btn--container .social-btn.facebook {
  background-position: 1000px 464px;
}
.social-btn--container .social-btn.facebook:hover {
  background-position: 917px 464px;
}
.social-btn--container .social-btn.youtube {
  background-position: 1000px 387px;
}
.social-btn--container .social-btn.youtube:hover {
  background-position: 917px 387px;
}

.promo-material {
  padding: 75px 0;
  margin: 0 0 40px 0;
  text-align: center;
  text-transform: uppercase;
  border: 6px solid white;
  color: #ccc;
  background-color: #ddd;
}

/*PAGINATION AND BLOG*/














