<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">


	<!-- <mvc:annotation-driven /> -->
	<context:component-scan base-package="com.pranveraapp.common.web"/>

	<mvc:annotation-driven validator="validator" />

	 <mvc:resources location="/resources/" mapping="/resources/**"/>

	<!-- Resource Resolver Chains  -->
    <bean id="elSiteResourceResolvers" class="org.springframework.beans.factory.config.ListFactoryBean" >
        <property name="sourceList">
            <list>
                <ref bean="elResourceResolver" />
            </list>
        </property>
    </bean>
    <bean id="siteResourceHttpRequestHandlerBase" abstract="true"
            class="com.pranveraapp.common.web.resource.PranveraAppResourceHttpRequestHandler">
        <property name="resourceResolvers" ref="elSiteResourceResolvers" />
    </bean>


	<bean class="com.pranveraapp.core.web.handler.NewsHandlerMapping"/>
	<bean class="com.pranveraapp.core.web.handler.TagHandlerMapping"/>
	<bean class="com.pranveraapp.core.web.handler.AuthorHandlerMapping"/>
	<bean class="com.pranveraapp.core.web.handler.PostHandlerMapping"/>


	 <!-- Set up PranveraApp messaging -->
    <bean id="messageSource" class="com.pranveraapp.common.util.PranveraAppMergeResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:messages</value>
            </list>
        </property>
    </bean>


	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="validationMessageSource" ref="messageSource">
		</property>
	</bean>

	<mvc:interceptors>
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="elLocaleCode" />
		</bean>
	</mvc:interceptors>

	<bean id="localeResolver" class="com.pranveraapp.common.web.PranveraAppCookieLocaleResolver"/>


	<bean id="elPaginationPageLinkProcessor" class="com.pranveraapp.core.web.processor.PaginationPageLinkProcessor" />
	<bean id="elHrefUrlRewriteProcessor" class="com.pranveraapp.core.web.processor.HrefUrlRewriteProcessor"/>

	<bean id="elDialectFrameworkProcessor" class="org.springframework.beans.factory.config.SetFactoryBean">
		<property name="sourceSet">
			<set>
				<ref bean="elPaginationPageLinkProcessor"></ref>
				<ref bean="elHrefUrlRewriteProcessor"></ref>
			</set>
		</property>

	</bean>

	<!--<bean class="com.pranveraapp.common.extensibility.context.merge.LateStateMergeBeanPostProcessor">
		<property name="targetRef" value="elDialectProcessors"></property>
		<property name="collectionRef" value="elDialectFrameworkProcessor"></property>
	</bean>-->

	<bean id="elVariableExpressionEvaluator" class="com.pranveraapp.common.web.expression.PranveraAppVariableExpressionEvaluator"></bean>
	 <bean id="elVariableExpressions" class="org.springframework.beans.factory.config.ListFactoryBean">
        <property name="sourceList">
            <list>
                <bean class="com.pranveraapp.common.web.expression.NullPranveraAppVariableExpression" />
            </list>
        </property>
    </bean>

	<bean id="thymeleafSpringStandardDialect" class="org.thymeleaf.spring4.dialect.SpringStandardDialect"></bean>
	<bean id="thymeleafDialectLayout" class="nz.net.ultraq.thymeleaf.LayoutDialect"/>

	<bean id="elMessageResolver" class="com.pranveraapp.common.web.PranveraAppThymeleafMessageResolver"/>

	<bean id="elDialect" class="com.pranveraapp.common.web.dialect.ELDialect">
		<property name="processors" ref="elDialectFrameworkProcessor"></property>
	</bean>



	<bean id="elWebTemplateResolver"
		class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
		<property name="prefix" value="/WEB-INF/templates/" />
		<property name="suffix" value=".html" />
		<property name="templateMode" value="HTML5" />
		<property name="characterEncoding" value="UTF-8" />
		<property name="cacheable" value="false" />

	 </bean>
	<bean id="elWebClasspathTemplateResolver" class="org.thymeleaf.templateresolver.ClassLoaderTemplateResolver">
        <property name="prefix" value="webTemplates/" />
        <property name="suffix" value=".html" />
        <property name="templateMode" value="HTML5" />
        <property name="characterEncoding" value="UTF-8" />
        <property name="cacheable" value="false"/>
    </bean>

	<bean id="elWebCustomTemplateResolver" class="com.pranveraapp.common.web.NullPranveraAppTemplateResolver" />

	<bean id="elWebDatabaseTemplateResolver" class="com.pranveraapp.core.web.resolver.DatabaseTemplateResolver">
        <property name="resourceResolver" ref="elDatabaseResourceResolver" />
        <property name="templateMode" value="HTML5" />
        <property name="characterEncoding" value="UTF-8" />
        <property name="cacheable" value="false"/>
    </bean>


	<bean id="elWebTemplateResolvers" class="org.springframework.beans.factory.config.SetFactoryBean">
        <property name="sourceSet">
            <set>
                <ref bean="elWebTemplateResolver" />
                <ref bean="elWebClasspathTemplateResolver" />
				<ref bean="elWebCustomTemplateResolver" />
				<ref bean="elWebDatabaseTemplateResolver" />
            </set>
        </property>
    </bean>



	 <bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
		<property name="templateResolvers" ref="elWebTemplateResolvers" />
		 <property name="messageResolvers">
            <set>
                <ref bean="elMessageResolver" />
                <bean class="org.thymeleaf.spring4.messageresolver.SpringMessageResolver" />
            </set>
        </property>
		 <property name="dialects">
			 <set>
				 <ref bean="thymeleafSpringStandardDialect"/>
				 <ref bean="thymeleafDialectLayout"/>
				 <ref bean="elDialect"/>
			 </set>
		 </property>
	 </bean>

	 <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="templateEngine" />
	 </bean>


</beans>
