<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:sec="http://www.springframework.org/schema/security"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.2.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-4.1.xsd">

    <!-- Resources do not need security -->
    <sec:http pattern="/css/**" security="none" />
    <sec:http pattern="/fonts/**" security="none" />
    <sec:http pattern="/img/**" security="none" />
    <sec:http pattern="/js/**" security="none" />
    <sec:http pattern="/**/${asset.server.url.prefix.internal}/**" security="none" />
    <sec:http pattern="/favicon.ico" security="none" />

    <!-- Set up Spring security for the application -->
    <sec:http auto-config="false" authentication-manager-ref="elAuthenticationManager" disable-url-rewriting="true">
        <!-- We handle session fixation protection ourselves  -->
        <sec:session-management session-fixation-protection="none" />



        <!-- All URLs not explicitly specified as https will be served under http -->
        <sec:intercept-url pattern="/" requires-channel="http"/>
        <sec:intercept-url pattern="/**" requires-channel="http"/>

        <sec:form-login login-page='/login'
            authentication-success-handler-ref="elAuthenticationSuccessHandler"
            authentication-failure-handler-ref="elAuthenticationFailureHandler"
            login-processing-url="/login_post.htm"
        />

        <!-- Provide the logout handler -->
        <sec:logout delete-cookies="ActiveID" invalidate-session="true" logout-url="/logout"/>

        <!-- Specify our custom filters -->
        <sec:custom-filter ref="elPostSecurityFilterChain" after="SWITCH_USER_FILTER"/>
    </sec:http>

    <bean id="elPasswordEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder"/>
    <!--  The EL Authentication manager.   -->
    <sec:authentication-manager alias="elAuthenticationManager">
        <sec:authentication-provider user-service-ref="elUserDetailsService">
            <sec:password-encoder ref="elPasswordEncoder" />
        </sec:authentication-provider>
    </sec:authentication-manager>



    <!-- Sets the login failure URL -->
    <bean id="elAuthenticationFailureHandler" class="com.pranveraapp.common.security.PranveraAppAuthenticationFailureHandler">
        <constructor-arg value="/login?error=true" />
    </bean>

    <!-- Sets the login success URL -->
    <bean id="elAuthenticationSuccessHandler" class="com.pranveraapp.common.security.PranveraAppAuthenticationSuccessHandler">
        <property name="defaultTargetUrl" value="/" />
        <property name="targetUrlParameter" value="successUrl" />
        <property name="alwaysUseDefaultTargetUrl" value="false" />
    </bean>

</beans>