<header id="header" role="banner">
   <nav class="navbar navbar-white navbar-transparent animated-dropdown ttb-dropdown" role="navigation">
       <div class="kok-container">
	   <div class="navbar-header fullwidth">
	      <a class="navbar-chiamaci clear-padding-right pull-right"
	      th:href="@{/contact/}"
	      th:title="#{header.callus.title}" th:utext="#{header.callus}">Call Us</a>
	      
	      
	      
	      
	      
	      <button type="button"
	      class="btn-toggle side-menu-btn pull-left collapsed"
	      style="background-color: transparent;" data-toggle="collapse"
	      data-target="#main-navbar-container">
	          <span class="sr-only">Toggle navigation</span> 
	          <span class="icon-bar"></span>
	      </button>
	   </div>
	</div><!-- End of kok container  -->
    </nav>
</header><!-- End #header -->
