<!DOCTYPE html>
<html>
<head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Pranvera - App</title>
    <th:block th:replace="/layout/partials/head"></th:block>
</head>
<body>
      <div id="wrapper">
	  <aside class="side-menu navbar-inverse left">
	   <div class="side-menu-wrapper">
	  
	   <div class="header-search-form">
	      <a class="pull-left" >
	      <img src="../../resources/images/singlepapp.png" th:src="@{/resources/images/singlepapp.png}"/></a>
	      <span class="header-logo">PranveraApp</span>
	   </div>
	     <nav th:substituteby="/layout/partials/nav"></nav>	
	  </div>
	  </aside>
	  <!-- end .side-menu -->

	  <div id="main-content">
    	    <header th:substituteby="layout/partials/header"></header>
    	    
    	    
    	    
    	    <div class="page-top parallax" data-bgattach="/resources/images/backgrounds/knowledgebg.jpg" data-0="background-position:50% 0px;" data-1000="background-position:50% -100%;margin-bottom:0px;">
                <div class="container text-center" style="padding-top:300px;">
                    <a th:href="@{/work}"><h1 class=" text-white text-center title-underblock white" th:utext="#{work.title}"></h1></a>
                </div><!-- End .container -->
            </div><!-- End .knowledge-header -->
    	    
    	    <div id="content" role="main" class="no-padding">
		      <div class="noborder-nomargin-container">
			   <div class="row">
			   	
			       <div class="col-md-4 work-member">
				   <div class="portfolio-item">
					<figure>
					   <a th:href="@{/work/docup/}"
					   title="Portfolio Item Description"> <img
					   src="../../resources/images/portfolio/grid/project.jpg"
					   th:src="@{/resources/images/portfolio/grid/project.jpg}"
					   alt="portfolio item name" class="img-responsive" /></a>
					</figure>
				        <div class="work-meta"><h3 th:utext="#{home.docup.name}"></h3></div>
				   </div>
				   <!-- End .portfolio-item -->
				</div>
				<!-- End .col-md-4 -->
				<div class="col-md-4 work-member">
				     <div class="portfolio-item">
					<figure>
					   <a th:href="@{/work/efe/}"
					  title="Portfolio Item Description"> <img
					  src="../../resources/images/portfolio/grid/efeproject1.jpg"
					  th:src="@{/resources/images/portfolio/grid/efeproject1.jpg}"
					  alt="portfolio item name" class="img-responsive" /></a>
					</figure>
					<div class="work-meta"><h3 th:utext="#{home.efe.name}"></h3></div>
				     </div>
				     <!-- End .portfolio-item -->
				</div>
				<!-- End .col-md-4 -->
				<div class="col-md-4 work-member">
				   <div class="portfolio-item">
				       <figure>
					   <a th:href="@{/work/ebe/}"
					 title="Portfolio Item Description"> <img
					 src="../../resources/images/portfolio/grid/ebeproject1.jpg"
					 th:src="@{/resources/images/portfolio/grid/ebeproject1.jpg}"
					 alt="portfolio item name" class="img-responsive" /></a>
					</figure>
				        <div class="work-meta"><h3 th:utext="#{home.ebe.name}"></h3></div>
				   </div>
				   <!-- End .portfolio-item -->
			        </div>
				<!-- End .col-md-4 -->
			    </div>
			    <!-- End .row -->
		       </div>
		       <!-- End .noborder-nomargin-container  -->
	      <!-- End #content -->
	      <footer th:substituteby="/layout/partials/footer"></footer>
	      </div><!-- End of content  -->
	   </div><!-- End #main-content -->
	   <div class="boss-menu-overlay"></div>
	</div>
	<!-- End #wrapper -->
	<a href="#top" id="scroll-top" title="Back to Top"><i class="fa fa-angle-up"></i></a>
	<!-- END -->
	<script src="../../resources/js/smoothscroll.js"
		th:src="@{/resources/js/smoothscroll.js}"></script>
	<script src="../../resources/js/bootstrap.min.js"
		th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script src="../../resources/js/jquery.hoverIntent.min.js"
		th:src="@{/resources/js/jquery.hoverIntent.min.js}"></script>
	<script src="../../resources/js/jquery.nicescroll.min.js"
		th:src="@{/resources/js/jquery.nicescroll.min.js}"></script>
	<script src="../../resources/js/waypoints.min.js"
		th:src="@{/resources/js/waypoints.min.js}"></script>
	<script src="../../resources/js/waypoints-sticky.min.js"
		th:src="@{/resources/js/waypoints-sticky.min.js}"></script>
	<script src="../../resources/js/jquery.debouncedresize.js"
		th:src="@{/resources/js/jquery.debouncedresize.js}"></script>
	<script src="../../resources/js/retina.min.js"
		th:src="@{/resources/js/retina.min.js}"></script>
	<script src="../../resources/js/owl.carousel.min.js"
		th:src="@{/resources/js/owl.carousel.min.js}"></script>
	<script src="../../resources/js/skrollr.min.js"
		th:src="@{/resources/js/skrollr.min.js}"></script>
	<script src="../../resources/js/jquery.countTo.js"
		th:src="@{/resources/js/jquery.countTo.js}"></script>
	<script src="../../resources/js/isotope.pkgd.min.js"
		th:src="@{/resources/js/isotope.pkgd.min.js}"></script>
	<script src="../../resources/js/jquery.magnific-popup.min.js"
		th:src="@{/resources/js/jquery.magnific-popup.min.js}"></script>
	<script src="../../resources/js/jquery.themepunch.tools.min.js"
		th:src="@{/resources/js/jquery.themepunch.tools.min.js}"></script>
	<script src="../../resources/js/jquery.themepunch.revolution.min.js"
		th:src="@{/resources/js/jquery.themepunch.revolution.min.js}"></script>
	<script src="../../resources/js/wow.min.js"
		th:src="@{/resources/js/wow.min.js}"></script>
	<script src="../../resources/js/jquery.validate.min.js"
		th:src="@{/resources/js/jquery.validate.min.js}"></script>
	<script src="../../resources/js/main.js"
		th:src="@{/resources/js/main.js}"></script>


</body>
</html>